@charset "utf-8";
@font-face {
    font-family: 'A Sweet Melody My Lady';
    src: local("A Sweet Melody My Lady"), url('./fonts/A Sweet Melody My Lady.eot?#iefix')
    format('embedded-opentype'),
    url('./fonts/A Sweet Melody My Lady.woff') format('woff'),
    url('./fonts/A Sweet Melody My Lady.off') format('opentype'),
    url('./fonts/A Sweet Melody My Lady.ttf') format('truetype'),
    url(',/fonts/A Sweet Melody My Lady.svg#A Sweet Melody My Lady') format('svg);
    font-weight: normal;
    font-style: normal;